
    .content {
        /* margin: auto; */
        /* vertical-align: middle;
        align-items: center; */
         /* margin: 0 auto; */
         text-align: center;
         padding-top: 50px;;
    }

    

    .center-image {
        display: flex;
        vertical-align: middle;
        margin: auto;
        justify-content: center;
        
    }

    .center-image svg {
        display: flex;
        vertical-align: middle;
        margin: auto;
        
    }

    .heading {
        font-size: 20px;
        margin: 0px;
        padding-top: 50px;
    }

    .text-small {
        font-size: 12px;
        margin: 0px;
        padding-top: 5px;
    }

    #big-input {
        height: 50px;
        width: 300px;
        border-radius: 10px;
        border: 1px solid grey;
        margin-top: 40px;
        font-size: 20px;
        padding-left: 20px;
    }

    

    .checkbox-container {
        padding-top: 20px;
    }

    .button-grey {
        margin-top: 40px;
        height: 50px;
        width: 120px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: #44cb86;
        color: white;
        font-size: 15px;
    }

    /* This is to remove increment/decrement in input area */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }